set scrolloff=5

set incsearch

map Q gq

" Remap leader key
let mapleader=" "
" Remaps
map <C-d> <C-d>zz
map <C-u> <C-u>zz
map <leader>s [[:%s/\<<C-r><C-w>\>/<C-r><C-w>/gI<Left><Left><Left>]])
nnoremap <leader>p [["_dP]]
nnoremap <leader>y "+y
vnoremap <leader>y "+y
nnoremap <leader>Y "+Y
vnoremap <leader>Y "+Y
nnoremap <leader>d [["_d]]
vnoremap <leader>d [["_d]]



" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

Plug 'tpope/vim-surround'
